<template>

    
    <div v-if="projects == null">
        <div>
            <h1>Companies</h1>
        </div>

        <div class="company">
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="company in companies" :key="company.id" @click="getProjects(company.name, company.id)">
                        <td>{{ company.name }}</td>
                        <td>{{ company.mail }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div v-else >
        <button @click="backToCompanies()"> Back to companies menu</button>
    </div>
    
    <Projects v-if="projects" :projects="projects" :company="company" :company_name="company_name" />

</template>

<script>

import axios from 'axios';
import '@/assets/baseURL.js';
import Projects from '@/components/Projects.vue';

export default {
    name : 'Companies',

    components : {
        Projects
    },

    data() {
        return {
            companies : [
                {
                    "name" :"Coca-Cola",
                    "mail": "company@colacola.com",
                }
            ],
            projects : null,
            company : null,
            company_name : null,
        }
    },

    mounted() {
        this.getCompanies()
    },

    methods: {
        getCompanies(){
            console.log("Carga getCompanies");
            axios
                .get('company-list/')
                    .then(response => {
                        this.companies = response.data;
                        // console.log(response);
                    })
                    .catch(e => console.log(e))
        },
        getProjects(company, company_id){
            console.log(company);
            axios
                .get('project-list/'+company+'/')
                    .then(response => {
                        console.log(response.data);
                        this.projects = response.data;
                        this.company = company_id;
                        this.company_name = company;
                        // console.log(response);
                    })
                    .catch(e => console.log(e))
        },
        backToCompanies(){
            this.projects = null;
        },
    },
}
</script>

<style scoped>
    th, td {
        padding: 15px;
        text-align: left;
        border-bottom : solid 1px;
    }
    .company {
        display: flex;
        justify-content: center;
    }
    button {
        background-color: #008CBA;
        border: none;
        border-radius: 5px;
        color: white;
        margin: 5px;
        max-width: 150px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
    }
</style>