<template>
    <div v-if="user_histories == null" style="flex-basis:100%;">
        <div v-if="showForm == null">
            <div style="display:flex; justify-content: center; margin: 20px">

                <h2 style="margin: 2px 100px;">Projects</h2>
                <button class="new" @click="showForm = 'New'">New</button>

            </div>

            <div class="project">
                <table>
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="project in projects_list" :key="project.id" @click="getUserHistories(project.id, project.name)">
                            <td>{{ project.name }}</td>
                            <td>{{ project.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div v-else>
            <button class="back" @click="showForm = null">Back</button>
            <form>
                <input id="name" type="text" v-model="name" placeholder="Write here">
                <label for="name">Name new project</label><br>

                <textarea id="description" type="text" v-model="description" placeholder="Write here"></textarea>
                <label for="description">Write a description for the new project</label><br>

                <button class="send" @click="createProject()">Create new project</button>     
            </form>
        </div>
    </div>

    <div v-else >
        <button @click="backToProjects()"> Back to projects menu</button>
    </div>
    
    <UserHistories v-if="user_histories" :user_histories="user_histories" :project_name="project" :project_id="project_id" />

</template>

<script>

import axios from 'axios';
import '@/assets/baseURL.js';
import UserHistories from '@/components/UserHistories.vue';

export default {
    name : 'Projects',

    components : {
        UserHistories
    },

    data() {
        return {
            projects_list : this.projects,
            project : null,
            user_histories : null,
            showForm : null,
            name: null,
            description : null,
            project_id : null,
        }
    },

    props : {
        projects : null,
        company : null,
        company_name : null,
    },

    methods : {
        getUserHistories(project_id,project_name){
            axios
                .get('user-history-list/'+project_id+'/')
                    .then(response => {
                        this.user_histories = response.data;
                        this.project = project_name;
                        this.project_id = project_id;
                        console.log(response.data);
                    })
                    .catch(e => console.log(e))
        },
        createProject(){
            let formData = new FormData();
            formData.append("name", this.name);
            formData.append("description", this.description);
            formData.append("company", this.company);
            axios
                .post('project-create/', formData, {
                    headers:{
                        "Content-Type": "application/json"
                    }
                })
                    .then(response => {
                        console.log("Project created");
                        this.getProjects();
                    })
                    .catch(e => console.log(e))
            this.showForm = null;
        },
        getProjects(){
            axios
                .get('project-list/'+this.company_name+'/')
                    .then(response => {
                        this.projects_list = response.data;
                        console.log(response.data);
                        this.$forceUpdate();  
                    })
                    .catch(e => console.log(e))
        },
        backToProjects(){
            this.user_histories = null;
        },
    }

}
</script>

<style scoped>
    th, td {
        padding: 15px;
        text-align: left;
        border-bottom : solid 1px;
    }
    .project {
        display: flex;
        justify-content: center;
    }
    table {
        max-width: 400px;
    }
    button {
        background-color: #ba4a00bc;
        border: none;
        border-radius: 5px;
        color: white;
        margin: 5px 40px;
        max-width: 150px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
    }
    .new{
        background-color: #00ba1986;
    }
    .send{
        background-color: #00ba1986; 
    }
    .back{
        background-color: #0041bab4;
    }
</style>