<template>

    <div style="flex-basis:100%;">
        <div style="justify-content: center;display: flex; ">
            <div style="max-width: 300px;">
                <h4>{{ history }}</h4>
            </div>
        </div>

        <div style="justify-content: center;display: flex;" v-if="message" @click="message=null">
            <div class="alert">
                <h5>
                    {{ message }}
                </h5>
            </div>
        </div>

        <div v-if="showForm == null">
            <div class="ticket">
                <table>
                    <thead>
                        <tr>
                            <td>
                                <h3>Ticket</h3>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="new" @click="newTicket()">
                                    New
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>name</th>
                            <th>description</th>
                            <th>state</th>
                            <th> - </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="ticket in tickets_list" :key="ticket.id">
                            <td>{{ ticket.name }}</td>
                            <td>{{ ticket.description }}</td>
                            <td>{{ ticket.state }}</td>
                            <td>
                                <button class="delete" @click="deleteTicket(ticket.id,ticket.state)">Delete</button>
                                <button class="update" @click="uTicket(ticket.name,ticket.description,ticket.state,ticket.id)">Update</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div v-else-if="showForm == 'New'">
            <button @click="showForm = null">Back</button>
            <form>
                <input id="name" type="text" v-model="name" placeholder="Write here">
                <label for="name">Name new ticket</label><br>

                <textarea id="description" type="text" v-model="description" placeholder="Write here"></textarea>
                <label for="description">Write a description for the new ticket</label><br>

                <button class="send" @click="createTicket()">Create new ticket</button>
            
            </form>
        </div>
        <div v-else>
            <button @click="showForm = null">Back</button>
            <form>
                <input id="name" type="text" v-model="name" placeholder="{{ name }}">
                <label for="name">Name ticket</label><br>

                <textarea id="description" type="text" v-model="description" placeholder="{{ description}}"></textarea>
                <label for="description">Description for the ticket</label><br>
                <select v-model="select_state">
                    <option v-for="state in states" :key="state.value" :value="state.value">
                        {{ state.text }}
                    </option>
                </select>
                <span>Selected: {{ select_state }}</span>
                <button class="send" @click="updateTicket()">Update ticket</button>
            
            </form>
        </div>
    </div>

</template>

<script>

import axios from 'axios';
import '@/assets/baseURL.js';

export default {
    name : 'Tickets',

    data() {
        return {
            showForm : null,
            ticket_id : null,
            name : null,
            description : null,
            select_state : 'A',
            states : [
                { text: 'Active', value: 'A' },
                { text: 'In progress', value: 'P' },
                { text: 'Completed', value: 'C' }
            ],
            tickets_list : this.tickets,
            message : null,
        }
    },

    props : {
        tickets : null,
        history : null,
        history_id : null,
    },

    methods : {
        newTicket(){
            this.showForm = 'New';
        },
        createTicket(){
            let formData = new FormData();
            formData.append("name", this.name);
            formData.append("description", this.description);
            formData.append("state", "A");
            formData.append("user_history", this.history_id);
            axios
                .post('ticket-create/', formData, {
                    headers:{
                        "Content-Type": "application/json"
                    }
                })
                    .then(response => {
                        console.log("Ticket created");
                        this.getTickets();
                    })
                    .catch(e => console.log(e))
            this.showForm = null;
        },
        deleteTicket(ticket_id, ticket_state){
            if (ticket_state == 'A'){
                axios
                    .delete('ticket-delete/'+ticket_id+'/')
                        .then(response => {
                            console.log("Deleted");
                            this.getTickets();
                        })
                        .catch(e => console.log(e))
            }
            else {
                this.message = "Only can delete tickets in Activa state";
            }
        },
        uTicket(name, description, state, ticket_id){
            this.showForm = 'Update';
            this.name = name;
            this.description = description;
            this.select_state = state;
            this.ticket_id = ticket_id;
        },
        updateTicket(){
            let formData = new FormData();
            formData.append("name", this.name);
            formData.append("description", this.description);
            formData.append("state", this.select_state);
            formData.append("user_history", this.history_id);
            axios
                .post('ticket-update/'+this.ticket_id+'/', formData, {
                    headers:{
                        "Content-Type": "application/json"
                    }
                })
                    .then(response => {
                        console.log("Ticket updated");
                        console.log(this.select_state);
                        this.getTickets();
                    })
                    .catch(e => console.log(e))
            this.showForm = null;
        },
        getTickets(){
            axios
                .get('ticket-list/'+this.history_id+'/')
                    .then(response => {
                        this.tickets_list = response.data;
                        console.log(response.data);
                        this.$forceUpdate();  
                    })
                    .catch(e => console.log(e))
        }
    },

}
</script>

<style scoped>
    th, td {
        padding: 15px;
        text-align: left;
        border-bottom : solid 1px;
    }
    .ticket {
        display: flex;
        justify-content: center;
    }
    table {
        max-width: 400px;
    }
    button{
        background-color: #0041bab4;
        border: none;
        border-radius: 5px;
        color: white;
        margin: 2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;      
    }
    .new{
        background-color: #00ba1986;
    }
    .delete{
        background-color: #ba0000c5;
    }
    .update{
        background-color: #0041bab4;
    }
    .send{
        background-color: #00ba1986; 
    }
    .alert{
        padding: 1px 15px;
        background-color: #f44336;
        color: white;
        border: none;
        border-radius: 2px;
        max-width: 400px;
    }
</style>    