<template>
    <div v-if="tickets == null" style="flex-basis:100%;">
        <div v-if="showForm == null">
            <div>
                <h2>{{ project_name }}</h2>
            </div>

            <div class="user_history">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <h3>User History</h3>
                            </th>      
                            <th>
                                <button class="new" @click="showForm = 'New'">New</button>
                            </th>
                        </tr>
                        <tr>
                            <th>name</th>
                            <th>description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user_history in user_histories_list" :key="user_history.id" @click="getTickets(user_history.id, user_history.name)">
                            <td>{{ user_history.name }}</td>
                            <td>{{ user_history.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div v-else>
            <button class="back" @click="showForm = null">Back</button>
            <form>
                <input id="name" type="text" v-model="name" placeholder="Write here">
                <label for="name">Name user history</label><br>

                <textarea id="description" type="text" v-model="description" placeholder="Write here"></textarea>
                <label for="description">Write a description for the new user history</label><br>

                <button class="send" @click="createUserHistory()">Create new user history</button>
            </form>
        </div>        
    </div>

    <div v-else >
        <button @click="backToUserHistories()"> Back to user history menu</button>
    </div>

    <Tickets v-if="tickets" :tickets="tickets" :history="history" :history_id="history_id" />

</template>

<script>

import axios from 'axios';
import '@/assets/baseURL.js';
import Tickets from '@/components/Tickets.vue';

export default {
    name : 'UserHistories',

    components : {
        Tickets
    },

    data() {
        return {
            tickets : null,
            history : null,
            history_id : null,
            showForm : null,
            name : null,
            description : null,
            user_histories_list : this.user_histories,
        }
    },

    props : {
        user_histories : null,
        project_name : null,
        project_id : null,
    },

    methods : {
        getTickets(user_history_id,user_history_name){
            axios
                .get('ticket-list/'+user_history_id+'/')
                    .then(response => {
                        this.history_id = user_history_id;
                        this.tickets = response.data;
                        this.history = user_history_name;
                        console.log(response.data);
                    })
                    .catch(e => console.log(e))
        },
        createUserHistory(){
            let formData = new FormData();
            formData.append("name", this.name);
            formData.append("description", this.description);
            formData.append("project", this.project_id);
            axios
                .post('user-history-create/', formData, {
                    headers:{
                        "Content-Type": "application/json"
                    }
                })
                    .then(response => {
                        console.log("User history created");
                        this.getUserHistories();
                    })
                    .catch(e => console.log(e))
            this.showForm = null;
        },
        getUserHistories(){
            axios
                .get('user-history-list/'+this.project_id+'/')
                    .then(response => {
                        this.user_histories_list = response.data;
                        console.log(response.data);
                        this.$forceUpdate();  
                    })
                    .catch(e => console.log(e))
        },
        backToUserHistories(){
            this.tickets = null;
        }
    },

}
</script>

<style scoped>
    th, td {
        padding: 15px;
        text-align: left;
        border-bottom : solid 1px;
    }
    .user_history {
        display: flex;
        justify-content: center;
    }
    table {
        max-width: 400px;
    }
    button {
        background-color: #ba005d91;
        border: none;
        border-radius: 5px;
        color: white;
        margin: 5px;
        max-width: 150px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
    }
    .new{
        background-color: #00ba1986;
    }
    .send{
        background-color: #00ba1986; 
    }
    .back{
        background-color: #0041bab4;
    }
</style>    